.weather__card {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 200px;
    height: 200px;
    transition: 0.1s;
}
.weather__card:hover {
    background-color: rgba(104, 103, 104, 0.1);
    border: 1px solid rgb(199, 199, 199);
    cursor: pointer;
}
.image__container {
    width: 51.2px;
    height: 51.2px;
}
.weather__img {
    width: 100%;
    height: 100%;
}
.weather__title, .weather__degrees span {
    color: rgb(155, 155, 155);
}

.weather__degrees {
    font-weight: bold;
    color: rgb(112, 112, 112);
}